@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@200;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.heading-primary {
  color: #141720;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  text-shadow: 0 3rem 8rem rgba(0, 0, 0, 0.4); }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-bottom: 4rem;
    font-family: "Lato", sans-serif; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    line-height: 3rem;
    font-family: "Raleway", sans-serif; }

.heading-secondary {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  letter-spacing: 1.1rem;
  font-weight: 300; }
  .heading-secondary--white {
    color: #EFEFEF; }

.paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-weight: 400; }
  .paragraph--white {
    color: #EFEFEF; }

.navigation__link, .navigation__link:active, .navigation__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #141720;
  font-size: 2rem;
  font-family: "Raleway", sans-serif; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.timeline {
  position: relative; }
  .timeline__radio-input {
    display: none; }
  .timeline__radio-group {
    height: 9rem; }
  .timeline__radio-label {
    cursor: pointer;
    position: relative;
    padding-left: 6rem;
    padding-top: 1.3rem;
    margin-left: 4rem;
    line-height: 2rem; }
  .timeline__year {
    position: absolute;
    left: -4rem;
    line-height: 2rem; }
  .timeline__radio-btn {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border: 5px solid #EFEFEF;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s; }
    .timeline__radio-btn::after {
      content: "";
      display: block;
      width: 0.8rem;
      height: 4rem;
      background-color: #EFEFEF;
      position: absolute;
      left: 1.1rem;
      top: 3rem; }
  .timeline__content {
    opacity: 0; }
  .timeline__radio-input:checked + .timeline__radio-label .timeline__radio-btn {
    border: 5px solid #C71222; }
  .timeline__radio-input:checked ~ .timeline__content {
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%; }

.header {
  height: 100vh;
  background-image: linear-gradient(to left bottom, white, rgba(255, 255, 255, 0.4)), url("../img/hero-large.jpg");
  background-size: cover;
  margin-bottom: 8rem; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
  .row .col-1-of-2 {
    width: calc(100% / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-3 {
    width: calc( 2* ((100% - 6rem *2) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2* ((100% - 6rem * 3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3* ((100% - 6rem * 3) / 4) + 6rem * 2); }

.navigation {
  position: fixed;
  right: 4rem;
  top: 4rem;
  display: inline-block; }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin-right: 3rem; }

.section-about {
  background-color: #141720;
  height: 50rem;
  overflow: hidden; }
  .section-about__content {
    height: 50rem;
    padding: 10rem 15rem;
    max-width: 50rem;
    margin: auto; }
  .section-about__img {
    background-image: url("../img/workers-large.jpg");
    background-size: cover;
    height: 50rem; }

.section-timeline {
  height: 50rem;
  margin: 10rem 20rem; }
