@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@200;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Raleway", sans-serif; }

.heading-primary {
  color: #141720;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  text-shadow: 0 3rem 8rem rgba(0, 0, 0, 0.4); }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-bottom: 4rem;
    font-family: "Lato", sans-serif; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    line-height: 3rem;
    font-family: "Raleway", sans-serif; }

.heading-secondary {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  letter-spacing: 1.1rem;
  font-weight: 300; }
  .heading-secondary--white {
    color: #EFEFEF; }
  .heading-secondary--grey {
    color: #141720; }

.heading-tertiary {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  font-weight: 700; }
  .heading-tertiary--grey {
    color: #141720; }

.paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-weight: 400; }
  .paragraph--white {
    color: #EFEFEF; }

.navigation__link, .navigation__link:active, .navigation__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #141720;
  font-size: 2rem;
  font-family: "Raleway", sans-serif; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.btn {
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  background-color: #C71222;
  border: none;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.form {
  position: relative; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-family: inherit;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 1.5rem;
    background-color: #141720;
    border: none;
    border-bottom: 2px solid #ffffff;
    transition: all .3s;
    display: block;
    width: 90%; }
    .form__input:focus {
      outline: none; }
    .form__input:focus:invalid {
      border-bottom: 2px solid #C71222; }
    .form__input:focus:valid {
      border-bottom: 2px solid #14c414; }
    .form__input::-webkit-input-placeholder {
      color: #ffffff; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 1.5rem;
    margin-top: .7rem;
    display: block;
    color: #ffffff;
    transition: all .3s; }
  .form__input:placeholder-shown ~ .form__btn {
    transform: translateY(-7rem); }
  .form__btn {
    position: absolute;
    bottom: -3.5rem;
    right: 2.5rem;
    transition: all .3s; }

.timeline {
  position: relative; }
  .timeline__group {
    margin-left: 19%; }
    @media only screen and (max-width: 56.25em) {
      .timeline__group {
        height: 50rem;
        margin: auto;
        text-align: center; } }
  .timeline__radio-input {
    display: none; }
  .timeline__radio-group {
    height: 9rem; }
    @media only screen and (max-width: 56.25em) {
      .timeline__radio-group {
        display: inline-block;
        text-align: center;
        width: 10rem;
        padding: 0 2rem; } }
  .timeline__radio-label {
    cursor: pointer;
    position: relative;
    padding-left: 6rem;
    padding-top: 1.3rem;
    margin-left: 4rem;
    line-height: 2rem;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem; }
  .timeline__year {
    position: absolute;
    left: -6rem;
    line-height: 2rem;
    transition: color .3s; }
    @media only screen and (max-width: 56.25em) {
      .timeline__year {
        left: 0;
        top: -3rem;
        display: block;
        position: initial; } }
  .timeline__radio-btn {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border: 5px solid #EFEFEF;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s; }
    @media only screen and (max-width: 56.25em) {
      .timeline__radio-btn {
        display: block;
        position: initial;
        margin: 1.4rem auto; } }
    .timeline__radio-btn::before {
      content: "";
      display: block;
      width: 0.6rem;
      height: 4rem;
      background-color: #EFEFEF;
      position: absolute;
      left: 1.1rem;
      top: -5rem; }
      @media only screen and (max-width: 56.25em) {
        .timeline__radio-btn::before {
          top: 7rem;
          left: 7rem;
          transform: rotate(90deg); } }
    @media only screen and (max-width: 56.25em) {
      .timeline__radio-btn--last::before {
        display: none; } }
  .timeline__content {
    opacity: 0;
    position: absolute;
    right: 0;
    top: -6rem;
    width: 50%;
    transition: all .3s;
    padding: 5rem 10rem;
    box-sizing: border-box;
    height: 36rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 56.25em) {
      .timeline__content {
        width: 80%;
        right: 10%;
        top: 11rem;
        padding: 5rem; } }
  .timeline__radio-input:checked + .timeline__radio-label .timeline__radio-btn {
    border: 5px solid #C71222; }
  .timeline__radio-input:checked ~ .timeline__content {
    opacity: 1; }
  .timeline__radio-input:checked + .timeline__radio-label .timeline__year {
    color: #C71222; }

.services-card {
  margin: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .services-card {
      text-align: center; } }

.header {
  height: 90vh;
  background-image: linear-gradient(to left bottom, white, rgba(255, 255, 255, 0.4)), url("../img/hero-large.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%); }
  @media only screen and (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 90%, 0 80%); } }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 4rem; }
  .header__logo {
    height: 5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
  .row .col-1-of-2 {
    width: calc(100% / 2); }
    @media only screen and (max-width: 37.5em) {
      .row .col-1-of-2 {
        width: 100%; } }
  .row .col-1-of-3 {
    width: calc(100% / 3); }
    @media only screen and (max-width: 37.5em) {
      .row .col-1-of-3 {
        width: 100%; } }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-3 {
    width: calc( 2* ((100% - 6rem *2) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2* ((100% - 6rem * 3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3* ((100% - 6rem * 3) / 4) + 6rem * 2); }

.navigation {
  position: fixed;
  right: 3rem;
  top: 3rem;
  display: inline-block;
  z-index: 1000;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: .3rem; }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin-right: 3rem; }
  .navigation__link:hover {
    transform: scale(1.1); }

.section-about {
  background-color: #141720;
  height: 50rem;
  overflow: hidden;
  clip-path: polygon(0 0, 50% 21%, 100% 0, 100% 100%, 0 100%); }
  @media only screen and (max-width: 37.5em) {
    .section-about {
      clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 100%, 0 100%);
      height: initial; } }
  .section-about__content {
    height: 50rem;
    padding: 15% 15% 10% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box; }
    @media only screen and (max-width: 37.5em) {
      .section-about__content {
        height: 40rem;
        padding: 20% 15% 10% 15%; } }
  .section-about__img {
    background-image: url("../img/workers-large.jpg");
    background-size: cover;
    height: 50rem; }
    @media only screen and (max-width: 37.5em) {
      .section-about__img {
        height: 30rem; } }

.section-timeline {
  margin-top: 10rem;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .section-timeline {
      margin-top: 5rem; } }

.section-services {
  background-color: #EFEFEF;
  padding: 10rem; }
  .section-services__heading {
    text-align: center; }

.section-hiring {
  background-color: #141720;
  height: 50rem; }
  @media only screen and (max-width: 37.5em) {
    .section-hiring {
      position: relative; } }
  .section-hiring__content {
    height: 50rem;
    padding: 10% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box; }
    @media only screen and (max-width: 37.5em) {
      .section-hiring__content {
        position: absolute;
        bottom: 0;
        backdrop-filter: brightness(0.3); } }
  .section-hiring__img {
    background-image: url("../img/collaboration-large.jpg");
    background-size: cover;
    height: 50rem; }

.section-contact {
  background-color: #141720; }
  .section-contact__form {
    padding: 10% 15%; }
  .section-contact__map {
    width: 100%;
    height: 62rem; }
    @media only screen and (max-width: 56.25em) {
      .section-contact__map {
        height: 53rem; } }
