.navigation {
    position: fixed;
    right: 3rem;
    top: 3rem;
    display: inline-block;
    z-index: 1000;
    padding: 1rem;
    background-color: rgba($color_white, 0.9);
    border-radius: .3rem;

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &__link,
    &__link:active,
    &__link:visited {

    }

    &__link:hover {
        transform: scale(1.1);
    }
}