// Browser Resets
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// Setting value of 1 rem to 10px
html {
    // This value defines what 1 rem is equal to | 1rem = 10px | 10 / 16 = 62.5%
    font-size: 62.5%; 
}