body {
    font-family: $font_secondary;
}


.heading-primary {
    color: $color_primary;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    text-shadow: 0 3rem 8rem rgba($color_black, 0.4);

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        margin-bottom: 4rem;
        font-family: $font_primary;

        @include respond(phone) {
            font-size: 5rem;
        }
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.5rem;
        line-height: 3rem;
        font-family: $font_secondary;
    }
}

.heading-secondary {
    font-family: $font_primary;
    font-size: 3rem;
    letter-spacing: 1.1rem;
    font-weight: 300;

    &--white {
        color: $color_secondary;
    }

    &--grey {
        color: $color_primary;
    }
}

.heading-tertiary {
    font-family: $font_primary;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    font-weight: 700;

    &--grey {
        color: $color_primary;
    }
}

.paragraph {
    font-family: $font_secondary;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-weight: 400;

    &--white {
        color: $color_secondary;
    }
}

.navigation {
    &__link,
    &__link:active,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: $color_primary;
        font-size: 2rem;
        font-family: $font_secondary;
    }
}