.section-about {
    background-color: $color_primary;
    height: 50rem;
    overflow: hidden;
    clip-path: polygon(0 0, 50% 21%, 100% 0, 100% 100%, 0 100%);

    @include respond(phone) { // width < 900?
        clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 100%, 0 100%);
        height: initial;
    }

    &__content {
        height: 50rem;
        padding: 15% 15% 10% 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;

        @include respond(phone) { // width < 900?
            height: 40rem;
            padding: 20% 15% 10% 15%;
        }
    }

    &__img {
        background-image: url("../img/workers-large.jpg");
        background-size: cover;
        height: 50rem;

        @include respond(phone) { // width < 900?
            // clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 100%, 0 100%);
            height: 30rem;
            // height: initial;
        }
    }
}

.section-timeline {
    margin-top: 10rem;
    position: relative;

    @include respond(tab-port) { // width < 900?
        margin-top: 5rem;
    }
}

.section-services {
    background-color: $color_secondary;
    padding: 10rem;

    &__heading {
        text-align: center;
    }
}

.section-hiring {
    background-color: $color_primary;
    height: 50rem;

    @include respond(phone) { // width < 900?
        // clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 100%, 0 100%);
        position: relative;
    }

    &__content {
        height: 50rem;
        padding: 10% 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;

        @include respond(phone) { // width < 900?
            // clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 100%, 0 100%);
            position: absolute;
            bottom: 0;
            backdrop-filter: brightness(0.3);
        }
    }

    &__img {
        background-image: url("../img/collaboration-large.jpg");
        background-size: cover;
        height: 50rem;
    }
}

.section-contact {
    background-color: $color_primary;

    &__form {
        padding: 10% 15%;
    }

    &__map {
        width: 100%;
        height: 62rem;

        @include respond(tab-port) { // width < 900?
            height: 53rem;
        }
    }
}