.section-about {
    background-color: $color_primary;
    height: 50rem;
    overflow: hidden;
    clip-path: polygon(0 0, 50% 21%, 100% 0, 100% 100%, 0 100%);

    &__content {
        height: 50rem;
        padding: 15rem 15rem 10rem 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
    }

    &__img {
        background-image: url("../img/workers-large.jpg");
        background-size: cover;
        height: 50rem;
    }
}

.section-timeline {
    margin-top: 10rem;
    position: relative;
}

.section-services {
    background-color: $color_secondary;
    padding: 10rem;

    &__heading {
        text-align: center;
    }
}

.section-hiring {
    background-color: $color_primary;
    height: 50rem;

    &__content {
        height: 50rem;
        padding: 10rem 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
    }

    &__img {
        background-image: url("../img/collaboration-large.jpg");
        background-size: cover;
        height: 50rem;
    }
}

.section-contact {
    background-color: $color_primary;

    &__form {
        padding: 10rem 15rem;
    }

    &__img {
        background-image: url("../img/collaboration-large.jpg");
        background-size: cover;
        height: 62rem;
    }
}